* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Georgia, Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 1.6rem;
    line-height: 1.6;
}





