/*html {
    font-size: 62.5%;
}*/

body {
    font-family: Georgia, Helvetica, Arial, sans-serif;
    color: navy;
    padding-left: 1rem;
    padding-top: 1rem;
    
}

:link {
    text-decoration: none;
}

header {
    margin-bottom: 1rem;
  }


